.user {
    border: 1px solid rebeccapurple;
    height: 3rem;
    border-radius: .5rem;
    margin: 1rem;
    max-width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}